---
import MainLayout from '../../layouts/MainLayout.astro';
import { getPortfolioItems } from '../../data/portfolio';
import PortfolioGrid from '../../components/jsx/home/portfolio/PortfolioGrid';

const portfolioItems = await getPortfolioItems();
---

<MainLayout title="Portfolio | Daniel Tenz">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8">My Portfolio</h1>
    <PortfolioGrid client:load items={portfolioItems} />
  </main>
</MainLayout> 